extends layout

block content
  h1= title
  if (result == null)
    h2 No instance to show details of the jacket
  else
    - let costumeid = result._id
    - let costume_type = result.costume_type
    - let costumecost = result.cost
    - let costumesize = result.size

    div
      div.row
        div(class='costumeAttr mr-3 col-sm-6') Jacket ID is: 
        div(class='col-sm-6') #{costumeid}
      br
      div.row
        div(class='costumeAttr mr-3 col-sm-6') Jacket Type is: 
        div(class='col-sm-6') #{costume_type}
      br
      div.row
        div(class='costumeAttr mr-3 col-sm-6') Jacket Size is:
        div(class='col-sm-6') #{costumesize}
      br
      div.row
        div(class='costumeAttr mr-3 col-sm-6') Jacket Cost is: 
        div(class='col-sm-6') #{costumecost}
