extends layout

block content
  h1= title
  - let jackets = results;
  - let createDestination = `/jackets/create`

  div(class="container")
    div(class="mb-3 text-center")
      a.btn.btn-primary(href=createDestination) Create

    each jacket in jackets
      - let updateDestination = `/jackets/update?id=${jacket._id}`
      - let detailDestination = `/jackets/detail?id=${jacket._id}`
      - let deleteDestination = `/jackets/delete?id=${jacket._id}`

      div(class="card mb-3")
        div(class="card-body")
          h5(class="card-title") #{jacket.costume_type}
          p(class="card-text") Cost: $#{jacket.cost}
          p(class="card-text") Size: #{jacket.size}
          
          div(class="btn-group" role="group")
            a.btn.btn-secondary(href=updateDestination) Update
            a.btn.btn-info(href=detailDestination) Detail
            a.btn.btn-primary(href=deleteDestination) Delete
