extends layout
block content
  h1= title
  if (result == null)
    h2 No instance to delete
  else
    - let costumeid = result._id
    - let costume_type = result.costume_type
    - let costumecost = result.cost
    - let costumesize = result.size
    - let actionid = "/resource/jackets/" + costumeid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Jacket Id :
        div #{costumeid}
      div.row
        div(class='costumeAttr mr-3') Jacket Name :
        div #{costume_type}
      div.row
        div(class='costumeAttr mr-3') jacket Cost :
        div #{costumecost}
      div.row
        div(class='costumeAttr mr-3') Jacket size :
        div #{costumesize}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
    function cancel() {
      // Go back to the home page for the flower collection
      window.location.href='/jackets'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE' 
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/jackets'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }