//- extends layout

//- block content
//-   h1= title

//-   div(class="container-fluid")
//-     div(class="row")
//-       - for(let i = 0; i < results.length; i++){
//-         div(class="col-sm-2", style = 'cursor: pointer;', id = `res-${i}`) 
//-           p JacketName: #{results[i].jacketNames}
//-           p JacketCost: $#{results[i].jacketCost}
//-           p JacketSize: #{results[i].jacketSize}

//-         script.
//-           document.getElementById(`res-${i}`).addEventListener('click', function() {
//-             buy(i); 
//-           });
//-       - }
//-     script.
//-       function buy(index){
//-         alert(`You purchased item ${index}`)
//-       }


extends layout

block content
  h1= title

  div(class="container-fluid")
    div(class="row")
      - for(let i = 0; i < results.length; i++){
        div(class="col-sm-2", style = 'cursor: pointer;', id = `res-${i}`) 
          p JacketName: #{results[i].costume_type}
          p JacketCost: $#{results[i].cost}
          p JacketSize: #{results[i].size}

        script.
          (function(index) {
            document.getElementById(`res-${index}`).addEventListener('click', function() {
              buy(index); 
            });
          })(i);
      - }
    script.
      function buy(index){
        alert(`You purchased item ${index}`)
      }
